
header{
    background-color:#e2e2e2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.imgLogo{
    width: 11rem;
}
ul{
    text-decoration: none;
    list-style-type: none;
    /* position: sticky; */
    color: #cbc4ff;
    align-items: center;
    display: flex;
    background-color:#1a1833;
    /* position: relative; */
    font-size: 1rem;
    border-radius: 30px;
    padding: 0 20px;
    margin: 20px;
}
.enlace{
    color:rgb(235, 238, 241);
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    /* position: relative; */
    margin: 0 2rem;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 18px;
    transition: 0.4s all ease;
    
    
}
.enlace:hover{
    transition:0.4s all ease; 
    color: rgb(12, 77, 151);
}
.enlace::after{
    content: "";
    /* position: absolute; */
    width: 100%;
    transform: scale(0);
    height: 2px;
    bottom: -5px;
    left:0;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}
.enlace:hover::after{
    transform: scale(1);
    transform-origin: bottom left;
}